* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(179, 142, 172); */
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(45deg, rgba(32, 33, 34, 0.467), #fbfbfb);
}

input {
  position: relative;
  width: 244px;
  height: 54px;
  border: transparent;
  box-shadow: 0px 3px 15px rgba(219, 224, 231, 0.2);
  padding: 27px;
  background: transparent;
  font-size: 35px;
  /* margin: 10px;  */
  text-align: right;
  cursor: pointer;
  color: rgb(83, 50, 83);
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

input:focus {
  outline: none; /* Remove the default focus outline */
  border: none; /* Remove the border when focused */
}
.container-input {
  position: relative;
}
.container-input span {
  cursor: pointer;
  position: absolute;
  left: 18px;
  top: 17%;
  transform: translateY(-50%);
  border: none;
}

.button {
  font-family: 'Roboto', sans-serif;
  border: none;
  width: 58px;
  height: 48px;

  font-size: 28px;
  text-align: center;
  cursor: pointer;
  color: #fbfbfb;
  background-color: #030038;
}
.button:hover {
  background-color: #301974;
}
.w-btn {
  color: white;
  font-family: 'Roboto', sans-serif;
    width: 73px;
    font-size: 23px;
  background-color: #a628d0;
  background-image: linear-gradient(
    75deg,
    #dd58d6 0%,
    #a628d0 35%,
    #9336b4 100%
  );
}
.w-btn:hover{
  background-color: #c34af0;
  background-image: linear-gradient(
    75deg,
    #dd58d6 0%,
    #8c2bac 35%,
    #6d3083 100%
  );
}
.fa-solid {
  font-size: 1.5rem;
}
.calculator {
  border: 1px solid #fbfbfb;
  border-radius: 33px;
}
.radius {
  border-radius: 12px;
}

.btn {
  background-color: #a628d0;
}
.btn-1 {
  background-color: #030038;
  border-radius: 25px;
}
.cl {
  background-image: linear-gradient(
    75deg,
    #dd58d6 0%,
    #a628d0 35%,
    #9336b4 100%
  );
}
.hidden {
  display: none;
}
